body {
  background-color: #42429b !important;
}

.txt-6lack{
  color: black;
}
.txt-black{
  color: black;
}
.txt-black2{
  color: black;
}

.seafoam {
  border-bottom-color: lightpink !important;
  background-color: #06d2bd !important;
}
.seafoam2{
  border-bottom-color: lightpink !important;
  background-color: #018786 !important;
}