{% extends 'base.html' %}
{% load static %}
{% block title %} AUXBOX {% endblock %}

{% block body %}

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h1 class="cover-heading font-weight-bold txt-6lack"><strong> " AUXBOX " ™ </strong></h1>
        <h3 class="lead font-weight-bold txt-6lack"> is a student created application that combines the classic crowd pleasing aspects of the Jukebox
        with the casualness of handing your friend the AUX cord of your cars stereo ; The aim of this project is to allow the users attending an event to influence the music being played. </h3>
    </main>
</div>

{% endblock %}